<% provide(:title, "登録情報編集") %>

<div class="col-12 col-xs-12 col-sm-offset-1 col-sm-10 col-sm-offset-1">

  <h2 class="heading text-center">登録情報編集</h2>

  <%= form_for(@customer, url: customer_path(@customer), method: :PUT) do |f| %>
  <%= render 'layouts/errors', obj: @customer %>

  <div class="col-12 col-xs-12 col-sm-4">
    <div class="form-group row text-center">
      <%= f.label :"プロフィール画像" %><br>
      <%= attachment_image_tag @customer, :profile_image, fallback: "no_customer_image.jpg", class: "profile-image circle"  %>
      <%= f.attachment_field :profile_image %>
    </div>
  </div>

  <div class="col-12 col-xs-12 col-sm-8">

    <div class="form-group row">
      <%= f.label :"氏名", class: "col-4 col-xs-4 col-sm-4" %>
      <div class="col-4 col-xs-4 col-sm-4">
        <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
      </div>
      <div class="col-4 col-xs-4 col-sm-4">
        <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :"フリガナ", class: "col-4 col-xs-4 col-sm-4" %>
      <div class="col-4 col-xs-4 col-sm-4">
        <%= f.text_field :last_name_kana, autofocus: true, class: "form-control" %>
      </div>
      <div class="col-4 col-xs-4 col-sm-4">
        <%= f.text_field :first_name_kana, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :"電話番号", class: "col-4 col-xs-4 col-sm-4" %>
      <div class="col-8 col-xs-8 col-sm-8">
        <%= f.text_field :phone_number, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :"メールアドレス", class: "col-4 col-xs-4 col-sm-4" %>
      <div class="col-8 col-xs-8 col-sm-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :"ニックネーム", class: "col-4 col-xs-4 col-sm-4" %>
      <div class="col-8 col-xs-8 col-sm-8">
        <%= f.text_field :nickname, autofocus: true, class: "form-control" %>
      </div>
    </div>

  </div>

  <div class="actions col-12 col-xs-12 col-sm-12">
    <%= f.submit "編集内容を保存", class: "btn btn-brown col-8 col-xs-8 col-sm-offset-2 col-sm-8 col-offset-1" %>
    <%= link_to "退会する", quit_customer_path(@customer), class: "btn btn-danger pull-right" %>
  </div>

  <% end %>

</div>

<!-- 画像プレビュー機能 -->
<script>
  $(function(){
    $('#customer_profile_image').on('change', function (e) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $(".profile_image").attr('src', e.target.result);
      }
      reader.readAsDataURL(e.target.files[0]); 
    });
  });
</script>