<% provide(:title, "トップ") %>

<div class="row">
  <%= render 'customer/pairs/search_form' %>
</div>

<div class="row">

  <div class="top-heading text-center">
    <h1 class="top-title"><strong>Welcome to PairingTime</strong></h1>
    <br>
    <p class="top-description">~ 皆さんがほっと一息つく時間をもっと楽しく ~</p>
  </div>

  <% if customer_signed_in? %>
  <div class="col-sm-12">
    <div class="col-6 col-xs-6 col-sm-9 ">
      <h2 class="text-center ranking-heading"><strong><i class="fas fa-heart faa-pulse animated"></i> お気に入り追加数</strong></h2>
      <%= render 'customer/pairs/ranking_index', pairs: @like_ranks %>
    </div>
    <div class="col-6 col-xs-6 col-sm-3">
      <h2 class="text-center ranking-heading"><strong><i class="fas fa-tags faa-wrench animated"></i> タグ</strong></h2>
      <%= render 'customer/pairs/tag_ranking_index', tags: @tag_ranks %>
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12">
    <h2 class="text-center ranking-heading"><strong><i class="fas fa-user-friends faa-float animated"></i> フォロワー数</strong></h2>
    <%= render 'customer/customers/ranking_index', customers: @follower_ranks %>
  </div>
  <% end %>

  <div class="col-12 col-xs-12 col-sm-12">
    <% if customer_signed_in? %>
    <h2 class="text-center ranking-heading"><strong><i class="fas fa-camera-retro faa-shake animated"></i> 新規投稿</strong></h2>
    <% end %>
    <%= render 'customer/pairs/index', pairs: @new_pairs %>
  </div>

  <div class="col-sm-12 text-center link-button">
    <div class="col-6 col-xs-6 col-sm-6">
      <%= link_to new_contact_path do %>
      <p class="btn btn- btn-lg btn-brown col-12 col-xs-12 col-sm-12 faa-parent animated-hover">
        <i class="fas fa-paper-plane faa-wrench"></i> お問い合わせ
      </p>
      <% end %>
    </div>
    <div class="col-6 col-xs-6 col-sm-6">
      <%= link_to pairs_path do %>
      <p class="btn btn-lg btn-brown col-12 col-xs-12 col-sm-12 faa-parent animated-hover">
        <i class="fas fa-camera-retro faa-wrench"></i> 投稿をもっと見る
      </p>
      <% end %>
    </div>
  </div>

</div>