<% provide(:title, "チャットルーム") %>

<h2 id="room" data-room="<%= @room.id %>" data-user="<%= current_customer.id %>", class="heading text-center"><%= @customer.nickname %> さんとのチャットルーム</h2>

<div class="col-2 col-xs-2 col-sm-2 text-center">
  <%= link_to customer_path(@customer) do %>
  <%= attachment_image_tag @customer, :profile_image, fallback: "no_customer_image.jpg", class: "chat-profile-image circle"  %>
  <p><strong><%= @customer.nickname %></strong></p>
  <% end %>
</div>

<div class="message col-8 col-xs-8 col-sm-8">
  <% @chats.each do |chat| %>
  <% if chat.customer_id == current_customer.id %>
  <p class="my-message"><%= chat.message %></p>
  <% else %>
  <p class="opponent-message"><%= chat.message %></p>
  <% end %>
  <% end %>
</div>

<div class="col-2 col-xs-2 col-sm-2 text-center">
  <%= attachment_image_tag current_customer, :profile_image, fallback: "no_customer_image.jpg", class: "chat-profile-image circle"  %>
  <p><strong><%= current_customer.nickname %></strong></p>
</div>

<%= form_with model: @chat, data: {remote: true} do |f| %>
<div class="col-12 col-xs-12 col-sm-offset-3 col-sm-6">
  <%= f.text_field :message, class: "form-control", required: true, placeholder: "20文字以内で入力してください" %>
</div>
<%= f.hidden_field :room_id %>
<% end %>