<% visiter = notification.visiter %>
<% pair = notification.pair %>

<div class="col-12 col-xs-12 col-sm-12 notification-box">
  <div class="col-2 col-xs-2 col-sm-1">
    <%= link_to customer_path(notification.visiter) do %>
    <%= attachment_image_tag visiter, :profile_image,  fallback: "no_customer_image.jpg", class: "notification-profile-image circle" %>
    <% end %>
  </div>
  <div class="notification-message">
    <div class="col-8 col-xs-8 col-sm-10">
      <%= notification_form(notification) %> <span><%= "(#{time_ago_in_words(notification.created_at)}å‰)" %></span>
    </div>
    <div class="col-2 col-xs-2 col-sm-1">
      <%= link_to notification_path(notification), method: :DELETE do %>
      <p class="btn btn-danger btn-block">
        <i class="fas fa-trash-alt"></i>
      </p>
      <% end %>
    </div>
  </div>
</div>