<% pairs.each.with_index(1) do |pair, i| %>
<div class="col-12 col-xs-12 col-sm-4 text-center">
  <h4><strong>第<%= i %>位</strong></h4>
  <% if pair.created_at > 24.hours.ago %>
  <span class="badge new-badge">New</span>
  <% end %>
  <%= link_to pair_path(pair) do %>
  <%= attachment_image_tag pair, :image, fallback: "no_image.jpg", class: "pair-image circle" %>
  <h6 class="sp-non-title"><%= pair.title %></h6>
  <% if customer_signed_in? %>
  <div id="index_like_button_<%= pair.id %>">

    <%= render 'customer/likes/like_index', pair: pair %>

  </div>
  <% end %>
  <% end %>
</div>
<% end %>