<% provide(:title, "投稿編集") %>

<div class="row col-sm-offset-1 col-sm-10 col-sm-offset-1 col-12">

  <h2 class="heading text-center">投稿編集</h2>

  <%= form_for(@pair, url: pair_path(@pair), method: :PUT) do |f| %>
  <%= render 'layouts/errors', obj: @pair %>

  <div class="col-12 col-xs-12 col-sm-4">
    <div class="form-group row text-center">
      <%= f.label :"画像" %><br>
      <%= attachment_image_tag @pair, :image,fallback: "no_image.jpg", class: "pair-image circle" %>
      <%= f.attachment_field :image %>
    </div>
  </div>

  <div class="col-12 col-xs-12 col-sm-8">
    <div class="form-group row">
      <%= f.label :"タイトル", class: "col-4 col-xs-4 col-sm-4 " %>
      <div class="col-8 col-xs-8 col-sm-8">
        <%= f.text_field :title, autofocus: true, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :"説明", class: "col-12 col-xs-12 col-sm-4 " %>
      <div class="col-12 col-xs-12 col-sm-8">
        <%= f.text_area :caption, autofocus: true, class: "form-control", rows: "5" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :"タグ", class: "col-12 col-xs-12 col-sm-4" %>
      <div class="col-12 col-xs-12 col-sm-8">
        <%= f.text_area :tag_ids, value: @tag_list, autofocus: true, class: "form-control", placeholder: "複数タグを追加する場合にはカンマ（,） で区切ってください", rows:"5" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "編集内容を保存", class: "btn btn-brown btn-block" %>
  </div>

  <% end %>

</div>

<!-- 画像プレビュー機能 -->
<script>
  $(function(){
    $('#pair_image').on('change', function (e) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $(".image").attr('src', e.target.result);
      }
      reader.readAsDataURL(e.target.files[0]); 
    });
  });
</script>