<% provide(:title, "投稿一覧") %>

<div class="row">
  <% if customer_signed_in? %>
  <%= render 'sort_form' %>
  <%= render 'search_form' %>
  <% end %>
</div>

<div class="row">
  <h2 class="heading text-center">投稿一覧（全<%= Pair.count %>件）</h2>
  <div id="jscroll">
    <%= render 'index', pairs: @pairs %>
    <div><%= link_to_next_page @pairs, '次のページ', class: "next" %></div>
  </div>
</div>
