<% provide(:title, "ログイン") %>

<div class="col-12 col-xs-12 col-sm-offset-3 col-sm-6 col-sm-offset-3">

  <h2 class="heading text-center">ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div id="error_explanation">
    <%= flash[:alert] %>
    <%= flash[:error] %>
  </div>

  <div class="form-group row">
    <%= f.label :メールアドレス, class: "col-4 col-xs-4 col-sm-3" %>
    <div class="col-8 col-xs-8 col-sm-9">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :パスワード, class: "col-4 col-xs-4 col-sm-3" %>
    <div class="col-8 col-xs-8 col-sm-9">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
  </div>

  <div class="text-right">
    <%= link_to "=> パスワードを忘れた方はこちら", new_password_path(resource_name), class: "btn-link" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-brown btn-block" %>
  </div>
  <% end %>

</div>

<div class="col-12 col-xs-12 col-sm-offset-1 col-sm-10 col-sm-offset-1">
  <div class="col-12 col-xs-12 col-sm-4">
    <%= link_to customer_facebook_omniauth_authorize_path, class: "btn btn-facebook btn-block" do %>
    <i class="fab fa-facebook"></i> Facebookアカウントでログイン
    <% end %>
  </div>
  <div class="col-12 col-xs-12 col-sm-4">
    <%= link_to customer_google_oauth2_omniauth_authorize_path, class: "btn btn-danger btn-block" do %>
    <i class="fab fa-google"></i> Googleアカウントでログイン
    <% end %>
  </div>
  <div class="col-12 col-xs-12 col-sm-4">
    <%= link_to customer_twitter_omniauth_authorize_path, class: "btn btn-twitter btn-block" do %>
    <i class="fab fa-twitter"></i> Twitterアカウントでログイン
    <% end %>
  </div>
</div>

<div class="col-12 col-xs-12 col-sm-offset-3 col-sm-6 col-sm-offset-3">
  <div class="text-center">
    <p>登録がお済みでない方は<u><%= link_to "こちら", new_customer_registration_path %></u>から新規登録を行ってください。</p>
  </div>
</div>