<table class="table">
  <thead>
    <tr>
      <th>投稿ID</th>
      <th>タイトル</th>
      <th>投稿日</th>
      <th>投稿者</th>
      <th>お気に入り追加数</th>
      <th>コメント数</th>
    </tr>
  </thead>
  <tbody>
    <% pairs.each do |pair| %>
    <tr>
      <td><%= pair.id %></td>
      <td><%= link_to pair.title, admin_pair_path(pair) %></td>
      <td><%= pair.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= link_to pair.customer.nickname, admin_customer_path(pair.customer) %></td>
      <td><%= pair.likes.count %></td>
      <td><%= pair.comments.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center col-12 col-xs-12 col-sm-12"><%= paginate pairs %></div>