<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- タブアイコン -->
  <%= favicon_link_tag 'favicon.ico' %>
  <!-- レスポンシブ  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/0daeb9e6e6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />
</head>

<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <p id="notice"><%= notice %></p>
    <%= yield %>
    <!-- トップに戻る -->
    <div id="back-to-top">
      <a href="#"><i class="fas fa-arrow-circle-up fa-3x"></i></a>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>